body {
	font-family:"Courier New", Courier, monospace
}

.track {
	width: 825px;
	padding-left: 1em;
}

.clickableTrack {
	text-decoration: underline;	
	cursor: pointer;
}

.selectedTrack {
	font-weight: bold;
 	border: 1px solid black;
 	background-color: yellow;
	text-decoration: none;
}

.footer {
	margin-top: 1em;
	width: 843px; text-align: right; background-color:green; 
}
.footer a {
	color:white;
	font-weight: bold;
	text-decoration: none;
	margin-right: 1em;
}
.cover {
	height: 100%; width: 100%; margin-top : 2px; margin-bottom: 12px; overflow:hidden
}
.cover img {
	width:200px; height: 200px; margin-right: 10px;
}
